@mixin nav-hover-effect($light-color, $orange-color) {
    &:hover::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        height: 5px;
        background-color: $light-color;
        border-radius: 50%;
    }
    &:active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: $orange-color;
    border-radius: 50%;
    }
    
}

@mixin pinned-hover-effect() {
    &:hover {
        transform: translateY(-0.2cm);
    }
    transition: height 2s, transform 0.3s;
}

@mixin articles-hover-effect() {
    &:hover {
        transform: scale(1.1);
    }
    transition: transform 0.5s;
}