@use "./variables/colors";
@use "./extensions/effects";

body {
    background-color: colors.$main-color;
    margin: 0; 
    padding: 0; 
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 2rem;
}

nav h1 {
    color: colors.$nav-color;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
}

nav a {
    @include effects.nav-hover-effect(colors.$nav-color);
    text-decoration: none;
} 


nav ul {
    display: flex;
    list-style: none;
    color:colors.$nav-color;
    column-gap: 0.8rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
    height: 100vh;
}

.pinned {
    width: 90%;
    max-width: 1500px;
    height: 25%;
    height: 90%;
    list-style: none;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "a b c"
    "a d e";
}

.pinned a{
    border-radius: 25px;
    text-decoration: none;
    transition: height 1s, transform 0.5s;
    @include effects.pinned-hover-effect();
}

.pinned a:nth-child(1) {
    grid-area: a;
    background-image: url('./styles/images/chairs.jpg');
    background-size: cover;
    background-position: center;
}
.pinned a:nth-child(2) {
    grid-area: b;
    background-image: url('./styles/images/desk.jpg');
    background-size: cover;
    background-position: center;
}
.pinned a:nth-child(3) {
    grid-area: c;
    background-image: url('./styles/images/moreplants.jpeg');
    background-size: cover;
    background-position: center;
}
.pinned a:nth-child(4) {
    grid-area: d;
    background-image: url('./styles/images/phonebooth.jpg');
    background-size: cover;
    background-position: center;
}
.pinned a:nth-child(5) {
    grid-area: e;
    background-image: url('./styles/images/pool.jpeg');
    background-size: cover;
    background-position: center;
}

.articles {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 90%;
    max-width: 1500px;
    align-items: center;
}

.articles a {
    padding: 2rem 3rem;
    border-radius: 25px;
    height: 15rem;
    max-width: 80%;
    width: 100%;
    flex-grow: 1;
    text-decoration: none;
    transition: transform 0.5s;
    @include effects.articles-hover-effect();
}

.articles a:nth-child(1) {
    background-image: url('./styles/images/computer.jpg');
    background-size: cover;
    background-position: center;
}
.articles a:nth-child(2) {
    background-image: url('./styles/images/chair.jpg');
    background-size: cover;
    background-position: center;
}
.articles a:nth-child(3) {
    background-image: url('./styles/images/basketball.jpeg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 800px) {
    .pinned {
        width: 80%; 
    }
    .articles {
        width: 80%; 
        max-width: none; 
    }
    .block {
        max-width: 100%;
    }
}

